In [1]:
#Use a dictionary to store employee data where the keys is the emp_id (Employee ID) and the value is another dictionary containing:
employees = {
    101: {'name': 'Satya', 'age': 27, 'department': 'HR', 'salary': 50000},
    102: {'name': 'Anjali', 'age': 30, 'department': 'Finance', 'salary': 60000},
    103: {'name': 'Ravi', 'age': 25, 'department': 'IT', 'salary': 55000}
}
employees

{101: {'name': 'Satya', 'age': 27, 'department': 'HR', 'salary': 50000},
 102: {'name': 'Anjali', 'age': 30, 'department': 'Finance', 'salary': 60000},
 103: {'name': 'Ravi', 'age': 25, 'department': 'IT', 'salary': 55000}}

In [3]:
# Function to add a new employee
def add_employee():
    print("\n=== Add New Employee ===")
    while True:
        try:
            emp_id = int(input("Enter Employee ID: "))
            if emp_id in employees:
                print("Employee ID already exists. Please enter a unique ID.")
            else:
                break
        except ValueError:
            print("Invalid input. Please enter a numeric Employee ID.")

    name = input("Enter Name: ").strip()

    while True:
        try:
            age = int(input("Enter Age: "))
            break
        except ValueError:
            print("Invalid age. Please enter a number.")

    department = input("Enter Department: ").strip()

    while True:
        try:
            salary = float(input("Enter Salary: "))
            break
        except ValueError:
            print("Invalid salary. Please enter a number.")

    employees[emp_id] = {
        'name': name,
        'age': age,
        'department': department,
        'salary': salary
    }

    print(f"Employee '{name}' added successfully with ID {emp_id}.\n")

In [5]:
add_employee()

=== Add New Employee ===

Enter Employee ID:  101

Employee ID already exists. Please enter a unique ID.

Enter Employee ID:  10
Enter Name:  Rupanjali Singh
Enter Age:  23
Enter Department:  BSBE
Enter Salary:  2,97,600

Invalid salary. Please enter a number.

Enter Salary:  297600

Employee 'Rupanjali Singh' added successfully with ID 10.

In [7]:
# Function to view all employees
def view_employees():
    print("\n=== All Employee Records ===")
    if not employees:
        print("No employees available.\n")
        return

    print(f"{'ID':<10}{'Name':<20}{'Age':<10}{'Department':<15}{'Salary':<10}")
    print("-" * 65)

    for emp_id, details in employees.items():
        print(f"{emp_id:<10}{details['name']:<20}{details['age']:<10}"
              f"{details['department']:<15}{details['salary']:<10.2f}")
    print()

In [9]:
view_employees()

=== All Employee Records ===
ID        Name                Age       Department     Salary
-----------------------------------------------------------------
101       Satya               27        HR             50000.00
102       Anjali              30        Finance        60000.00
103       Ravi                25        IT             55000.00
10        Rupanjali Singh     23        BSBE           297600.00

In [11]:
# Function to search for an employee by ID
def search_employee():
    print("\n=== Search Employee by ID ===")
    try:
        emp_id = int(input("Enter Employee ID to search: "))
    except ValueError:
        print("Invalid input. Please enter a numeric Employee ID.\n")
        return

    if emp_id in employees:
        emp = employees[emp_id]
        print(f"\n Employee Found:")
        print(f"{'ID':<10}{'Name':<20}{'Age':<10}{'Department':<15}{'Salary':<10}")
        print("-" * 65)
        print(f"{emp_id:<10}{emp['name']:<20}{emp['age']:<10}"
              f"{emp['department']:<15}{emp['salary']:<10.2f}\n")
    else:
        print("Employee not found.\n")

In [13]:
search_employee()

=== Search Employee by ID ===

Enter Employee ID to search:  10

 Employee Found:
ID        Name                Age       Department     Salary
-----------------------------------------------------------------
10        Rupanjali Singh     23        BSBE           297600.00

In [17]:
# Main menu function
def main_menu():
    while True:
        print("====== Employee Management System ======")
        print("1. Add Employee")
        print("2. View All Employees")
        print("3. Search for Employee")
        print("4. Exit")
        choice = input("Enter your choice (1-4): ")

        if choice == '1':
            add_employee()
        elif choice == '2':
            view_employees()
        elif choice == '3':
            search_employee()
        elif choice == '4':
            print("\nThank you for using the Employee Management System. Goodbye!\n")
            break
        else:
            print("Invalid choice. Please select a valid option (1-4).\n")

In [19]:
main_menu()

====== Employee Management System ======
1. Add Employee
2. View All Employees
3. Search for Employee
4. Exit

Enter your choice (1-4):  3

=== Search Employee by ID ===

Enter Employee ID to search:  10

 Employee Found:
ID        Name                Age       Department     Salary
-----------------------------------------------------------------
10        Rupanjali Singh     23        BSBE           297600.00

====== Employee Management System ======
1. Add Employee
2. View All Employees
3. Search for Employee
4. Exit

Enter your choice (1-4):  4

Thank you for using the Employee Management System. Goodbye!

In [21]:
# Entry point
if __name__ == "__main__":
    main_menu()

====== Employee Management System ======
1. Add Employee
2. View All Employees
3. Search for Employee
4. Exit

Enter your choice (1-4):  4

Thank you for using the Employee Management System. Goodbye!