<a href="https://colab.research.google.com/github/IRupanjali/EMS/blob/main/EMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# === Employee Management System ===

employees = {
    101: {'name': 'Satya', 'age': 27, 'department': 'HR', 'salary': 50000},
    102: {'name': 'Anjali', 'age': 30, 'department': 'Finance', 'salary': 60000},
    103: {'name': 'Ravi', 'age': 25, 'department': 'IT', 'salary': 55000}
}

In [4]:
def add_employee():
    try:
        emp_id = int(input("Enter Employee ID: "))
        if emp_id in employees:
            print("ID exists.\n"); return
        name = input("Enter Name: ")
        age = int(input("Enter Age: "))
        dept = input("Enter Department: ")
        salary = float(input("Enter Salary: "))
        employees[emp_id] = {'name': name, 'age': age, 'department': dept, 'salary': salary}
        print("Employee added.\n")
    except:
        print("Invalid input.\n")

In [5]:
add_employee()

Enter Employee ID: 10
Enter Name: Soumya Singh
Enter Age: 23
Enter Department: Healthcare
Enter Salary: 100000000
Employee added.

In [7]:
def view_employees():
    if not employees:
        print("No employees available.\n"); return
    print(f"{'ID':<5}{'Name':<15}{'Age':<5}{'Dept':<12}{'Salary':<10}")
    print("-" * 50)
    for eid, d in employees.items():
        print(f"{eid:<5}{d['name']:<15}{d['age']:<5}{d['department']:<12}{d['salary']:<10.2f}")
    print()

In [8]:
view_employees()

ID   Name           Age  Dept        Salary
--------------------------------------------------
101  Satya          27   HR          50000.00
102  Anjali         30   Finance     60000.00
103  Ravi           25   IT          55000.00
10   Soumya Singh   23   Healthcare  100000000.00

In [9]:
def search_employee():
    try:
        eid = int(input("Enter Employee ID to search: "))
        e = employees.get(eid)
        if e:
            print(f"\nFound: {eid} - {e['name']}, Age: {e['age']}, Dept: {e['department']}, Salary: {e['salary']}\n")
        else:
            print("Employee not found.\n")
    except:
        print("Invalid input.\n")

In [10]:
search_employee()

Enter Employee ID to search: 10

âœ… Found: 10 - Soumya Singh, Age: 23, Dept: Healthcare, Salary: 100000000.0

In [11]:
def main_menu():
    while True:
        print("1. Add  2. View  3. Search  4. Exit")
        choice = input("Choose: ")
        if choice == '1': add_employee()
        elif choice == '2': view_employees()
        elif choice == '3': search_employee()
        elif choice == '4':
            print("Thank you for using EMS."); break
        else: print("Invalid choice.\n")

if __name__ == "__main__":
    main_menu()

1. Add  2. View  3. Search  4. Exit
Choose: 4
ðŸ‘‹ Thank you for using EMS.